[confirmationBody] {
  overflow-y: hidden;
}

.col-md-12 {
  float: none !important;
}

[animation='slide-up-down'].ng-hide-remove {
  animation: slideDown 300ms both;
}

[animation='slide-up-down'].ng-hide {
  animation: slideUp 300ms both;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }

  to {
    max-height: 0;
    transform: translateY(-100%);
  }
}
