@function rem($pxval, $base: 14) {
  @return ($pxval / $base) * 1rem;
}

content {
  body {
    margin: 0;
    padding: 0;
  }

  .top-bar .text { @extend .title3; }

  .main-wrapper {
    width: 100%;
    height: auto;
    font-family: 'StagSansBook', sans-serif;
    font-size: rem(14);
    line-height: 1;
    background-size: 100% auto;
    color: #333;
    overflow-x: hidden;
  }

  .main-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .main-wrapper *:before,
  .main-wrapper *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .body-padding-bottom {
    position: relative;
    display: block;
    padding: 0 0 rem(25) 0;
  }

  hr.divider {
    border-top: 0;
    border-bottom: rem(1) solid #eee;
    margin: 0;
  }

  .bold-text {
    font-family: 'StagSansMedium', sans-serif;
  }

  .pull-right {
    float: right;
  }

  .pull-left {
    float: left;
  }

  .top-bar {
    position: relative;
    padding: rem(15) 0 rem(15) 0;
    font-family: 'StagSansLight', sans-serif;
  }

  .top-bar .text {
    position: relative;
    display: block;
    color: #fff;
    font-size: rem(18);
    text-align: center;
  }

  [confirmationHeader] {
    padding: rem(16) 0;
  }

  .white-opacity-block {
    position: relative;
    display: block;
    padding: 0 rem(16) 0 rem(16);
    border-radius: rem(2);
    background: #fff;
    opacity: 0.97;
    box-shadow: 0 0 rem(1) #efefef;
    cursor: pointer;
    margin: rem(190) 0 0 0;
  }

  .white-opacity-block .heading {
    position: relative;
    display: block;
  }

  .white-opacity-block .heading .text {
    position: relative;
    display: block;
    color: #0098c3;
    font-size: rem(18);
    font-family: 'StagSansLight', sans-serif;
    text-transform: uppercase;
  }

  .text-trip {
    text-transform: uppercase;
  }

  .white-opacity-block .arrow-accordion {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
  }

  .white-opacity-block .arrow-accordion img {
    height: rem(20);
  }

  .white-opacity-block .arrow-accordion.active {
    position: absolute;
    display: block;
    top: rem(2);
    right: 0;
  }

  .white-opacity-block .arrow-accordion.active img {
    height: rem(12);
  }

  .white-opacity-block .trip-information-box {
    position: relative;
    display: block;
  }

  .white-opacity-block .trip-information-box .pull-right {
    padding: 0 0 rem(10) rem(10);
  }

  .white-opacity-block .trip-information-box .arrow-trip-information-box {
    position: absolute;
    display: block;
    right: rem(10);
    top: rem(20);
  }

  .white-opacity-block .trip-information-box .small-text,
  .white-opacity-block .trip-information-box .small-title {
    position: relative;
    display: block;
    font-family: 'StagSansLight', sans-serif;
    font-size: rem(14);
  }

  .white-opacity-block .trip-information-box .small-text.ssb,
  .white-opacity-block .trip-information-box .small-title.ssb {
    font-family: 'StagSansBook', sans-serif;
    font-size: rem(16);
  }

  .title, .text {
    position: relative;
    display: block;
    font-family: 'StagSansBook', sans-serif;
  }

  .white-opacity-block .trip-information-box .text-medium {
    position: relative;
    display: block;
    font-family: 'StagSansBook', sans-serif;
    font-size: rem(16);
    margin: 0;
  }

  .white-opacity-block .trip-information-box .red {
    color: #ff0005;
  }

  .white-opacity-block .trip-information-box .blue {
    color: #0098c3;
  }

  .white-opacity-block .wave-divider {
    position: relative;
    display: block;
    margin: rem(15) 0 rem(20) 0;
    visibility: hidden;
  }

  .white-opacity-block .wave-divider img {
    height: rem(11);
  }

  .white-opacity-block .information-about-trip,
  .white-opacity-block .payment-section {
    position: relative;
    display: block;
    border: rem(1) solid #979797;
    border-radius: rem(1);
    background: #fff;
    opacity: 0.97;
    box-shadow: 0 0 rem(1) #efefef;
  }
  .information-about-trip {
    padding: rem(8) rem(16);
    .trip-information-box {
      padding: rem(8) 0;
    }
    .text {
      margin: 0;
      text-transform: uppercase;
      font-size: rem(16);
    }
  }
  .payment-section {
    margin-top: rem(10);
  }

  .panelcollapsed .panelcontent {
    display: none;
  }

  .TRIPSECTION {
    .col-md-12 { padding-top: rem(16); }


    .clearfix{
      padding-bottom: rem(16);
      .small-title {
        margin-top: rem(22);
      }
    }


    .title {
      font-family: StagSansLight, Arial, sans-serif;
      margin-top: 0;
      text-transform: uppercase;
      font-size: rem(18);
      line-height: rem(10);
      margin-bottom: rem(2);
    }

    .small-title { padding-bottom: rem(8); }

    .col-md-12:last-child { padding-bottom: rem(16); }
  }

  .panelcontent {
    .text {
      font-size: rem(16);
      margin: rem(8) 0 rem(16) 0;
    }
  }

  .EXTRASECTION {
    .title {
      margin-top: 0;
      margin-bottom: 0;
      font-family: StagSansLight, Arial, sans-serif;
    }

    .trip-information-box { padding-top: rem(16); }

    .small-title { padding-bottom: rem(12); }

    .col-md-12:last-child { padding-bottom: rem(16); }
  }

  .PAYMENTSECTION {
    margin-bottom: rem(16);
    .payment-section {
      padding: rem(0) rem(16) rem(8) rem(16);
      margin-top: 0;
    }
    .small-text {
      padding: rem(8) 0;
    }
    .trip-information-box {
      padding: rem(8) 0;
    }
    .link-text {
      color: #0098c3;
    }
    .divider {
      padding: rem(4) 0;
    }
    .trip-information-box:not(:first-child) .small-text:first-child {
      font-family: 'StagSansLight', Arial, sans-serif;
      font-size: rem(18);
      text-transform: uppercase;
    }

    .trip-information-box:not(:first-child) .text-medium:last-child {
      font-family: 'StagSansLight', sans-serif;
      font-size: rem(16);
    }
    .trip-information-box:nth-child(3) {
      .small-text {
        font-family: 'StagSansBook', sans-serif;
        font-size: rem(16);
      }
      .text-medium {
        padding-top: rem(16);
      }
    }

  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: rem(8);
    padding-right: rem(8);
  }

  @media (min-width: rem(768)) {
    .container {
      width: rem(750);
    }
  }

  @media (min-width: rem(992)) {
    .container {
      width: rem(970);
    }
  }

  @media (min-width: rem(1200)) {
    .container {
      width: rem(1170);
    }
  }

  .row {
    margin-left: rem(-15);
    margin-right: rem(-15);
    padding: 0 rem(6);
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: rem(1);
    padding-left: rem(10);
    padding-right: rem(10);
  }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }

  .col-xs-12 {
    width: 100%;
  }

  .col-xs-11 {
    width: 91.66666667%;
  }

  .col-xs-10 {
    width: 83.33333333%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-8 {
    width: 66.66666667%;
  }

  .col-xs-7 {
    width: 58.33333333%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-5 {
    width: 41.66666667%;
  }

  .col-xs-4 {
    width: 33.33333333%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-2 {
    width: 16.66666667%;
  }

  .col-xs-1 {
    width: 8.33333333%;
  }

  @media (min-width: rem(768)) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }

    .col-sm-12 {
      width: 100%;
    }

    .col-sm-11 {
      width: 91.66666667%;
    }

    .col-sm-10 {
      width: 83.33333333%;
    }

    .col-sm-9 {
      width: 75%;
    }

    .col-sm-8 {
      width: 66.66666667%;
    }

    .col-sm-7 {
      width: 58.33333333%;
    }

    .col-sm-6 {
      width: 50%;
    }

    .col-sm-5 {
      width: 41.66666667%;
    }

    .col-sm-4 {
      width: 33.33333333%;
    }

    .col-sm-3 {
      width: 25%;
    }

    .col-sm-2 {
      width: 16.66666667%;
    }

    .col-sm-1 {
      width: 8.33333333%;
    }
  }

  @media (min-width: rem(992)) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }

    .col-md-12 {
      width: 100%;
    }

    .col-md-11 {
      width: 91.66666667%;
    }

    .col-md-10 {
      width: 83.33333333%;
    }

    .col-md-9 {
      width: 75%;
    }

    .col-md-8 {
      width: 66.66666667%;
    }

    .col-md-7 {
      width: 58.33333333%;
    }

    .col-md-6 {
      width: 50%;
    }

    .col-md-5 {
      width: 41.66666667%;
    }

    .col-md-4 {
      width: 33.33333333%;
    }

    .col-md-3 {
      width: 25%;
    }

    .col-md-2 {
      width: 16.66666667%;
    }

    .col-md-1 {
      width: 8.33333333%;
    }
  }

  @media (min-width: rem(1200)) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }

    .col-lg-12 {
      width: 100%;
    }

    .col-lg-11 {
      width: 91.66666667%;
    }

    .col-lg-10 {
      width: 83.33333333%;
    }

    .col-lg-9 {
      width: 75%;
    }

    .col-lg-8 {
      width: 66.66666667%;
    }

    .col-lg-7 {
      width: 58.33333333%;
    }

    .col-lg-6 {
      width: 50%;
    }

    .col-lg-5 {
      width: 41.66666667%;
    }

    .col-lg-4 {
      width: 33.33333333%;
    }

    .col-lg-3 {
      width: 25%;
    }

    .col-lg-2 {
      width: 16.66666667%;
    }

    .col-lg-1 {
      width: 8.33333333%;
    }
  }

  /*Responsive*/

  [confirmationBody] {
    overflow-y: hidden;
  }

  .col-md-12 {
    float: none !important;
  }

  [animation='slide-up-down'] {
    max-height: 100%;
  }

  [animation='slide-up-down'].ng-hide-remove {
    animation: slideDown 300ms ease both;
  }

  [animation='slide-up-down'].ng-hide {
    animation: slideUp 200ms ease;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }

  to {
    max-height: 0;
    transform: translateY(-100%);
  }
}
